/05 Lógica de Programação e Algoritmos III/Projetos Java/Classes/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Classes/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Heranca/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Heranca/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/ExercicioVinte/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/ExercicioVinte/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exercico4POO/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exercico4POO/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer01/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer01/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer02/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer02/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer03/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer03/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer04/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer04/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer05/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer05/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer06/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer06/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer07/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer07/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer08/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer08/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer09/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer09/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer10/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer10/build/
