/05 Lógica de Programação e Algoritmos III/Projetos Java/Classes/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Classes/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Heranca/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Heranca/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/ExercicioVinte/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/ExercicioVinte/build/
