/05 Lógica de Programação e Algoritmos III/Projetos Java/Classes/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Classes/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Heranca/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Heranca/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/ExercicioVinte/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/ExercicioVinte/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exercico4POO/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exercico4POO/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer01/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer01/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer02/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer02/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer03/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer03/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer04/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer04/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer05/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer05/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer06/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer06/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer07/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer07/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer08/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer08/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer09/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer09/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer10/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer10/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer11/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer11/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer12/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer12/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer13/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer13/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer14/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer14/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer15/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer15/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer16/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer16/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer17/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer17/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer18/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer18/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer19/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer19/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer20/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer20/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer21/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer21/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer22/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer22/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer23/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer23/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer24/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer24/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer25/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer25/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer26/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer26/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer27/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer27/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer28/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer28/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer29/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer29/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer30/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer30/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer31/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer31/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer32/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer32/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer33/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer33/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer34/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer34/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer35/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer35/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer01POO/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer01POO/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer02POO/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer02POO/build/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer03POO/.gradle/
/05 Lógica de Programação e Algoritmos III/Projetos Java/Exer03POO/build/
